includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
        - bin
        - tests
        - config
    scanDirectories:
        - var/cache/dev/Symfony
    scanFiles:
        - vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    excludePaths:
        - tests/bootstrap.php
        - tests/object-manager.php
    symfony:
        container_xml_path: var/cache/dev/Terlicko_Web_SymfonyApplicationKernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    checkUninitializedProperties: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - "#^Call to an undefined method Symfony\\\\Config\\\\Framework\\\\Messenger#"
        - "#with no value type specified in iterable type array#"
        - "#return type has no value type specified in iterable type array#"
        - "#type has no value type specified in iterable type array#"
        - "#expects DateTimeImmutable, DateTimeImmutable\\|false given#"
        - "#expects DateTimeImmutable\\|null, DateTimeImmutable\\|false\\|null given#"
        - "#Cannot access offset#"
        - "#expects array, mixed given#"
        - "#expects string, mixed given#"
        - "#expects string\\|null, mixed given#"
        - "#only iterables are supported#"
