<footer>
    <div class="footer-background py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 border-1 border-sm-end pe-sm-4 pe-md-5">
                    <h2 class="h3 fw-bold"><span class="text-secondary">Kontakt</span></h2>

                    Obecní úřad Těrlicko<br>

                    <strong>Májová 474/16, 735  42 Těrlicko-Horní Těrlicko</strong>

                    <h2 class="h3 fw-bold mt-5"><span class="text-secondary">Úřední hodiny</span></h2>

                    <p>
                        <strong class="text-secondary">Pondělí:</strong><br>
                        <span class="fw-bold">8:00–11:00, 12:00–17:00</span>
                    </p>

                    <p>
                        <strong class="text-secondary">Středa:</strong><br>
                        <span class="fw-bold">8:00–11:00, 12:00–17:00</span>
                    </p>
                </div>

                <div class="col-sm-6 border-1 border-sm-start ps-sm-4 ps-md-5">
                    <h2 class="h3 fw-bold"><span class="text-secondary">Mohlo by vás zajímat</span></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="py-3 text-center bg-white footer-outer">
        web &amp; design <a href="https://www.wantoo.cz" target="_blank" class="fw-bold">WANTOO design</a> 2025
    </div>
</footer>
