{% for menuItem in this.items %}
    <li class="nav-item">
        <twig:Odkaz class="nav-link px-lg-3" data="{{ menuItem.Odkaz }}">
            {{ menuItem.Nadpis }}
        </twig:Odkaz>
    </li>
{% endfor %}
