@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Thin Italic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Extralight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Extralight Italic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Light Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Medium Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Semibold Italic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Bold Italic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Extrabold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Extrabold Italic.otf") format("opentype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Biotic";
    src: url("../fonts/Biotic Black Italic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
}

body {
    --bs-font-sans-serif: "Biotic", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-primary: #32416C;
    --bs-primary-rgb: rgb(50, 65, 108);
    --bs-secondary: #F49833;
    --bs-secondary-rgb: 244,152,51;
    --bs-secondary-color-rgb: 244,152,51;
    --bs-heading-color: var(--bs-primary);
    --bs-primary-text-emphasis: #8CADD5;
    padding-top: 113px;
}

header {
    border-bottom: 8px solid #8CADD5;
}

.nav-link-instagram,
.nav-link-facebook{
    display: inline-block;
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-item a {
    color: var(--bs-primary);
}

.nav-link-instagram {
    background-image: url('../images/instagram.svg');
    width: 26px;
    height: 26px;
}

.nav-link-facebook {
    background-image: url('../images/facebook.svg');
    width: 15px;
    height: 26px;
}

.home-hero {
    background: url('../images/terlicko-1.png') center top no-repeat #1E2648;
    height: 963px;
}

.home-hero-gradient {
    background: url('../images/home-hero-gradient.png') center top no-repeat;
    height: 781px;
}

.home-quick-links {
    background: #21294C linear-gradient(to bottom, #2B355A, #21294C);
    padding-top: 10px;
}

.home-footer {
    background: #32416C;
    color: #fff;
}

.home-quick-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    width: 216px;
    height: 242px;
    background: url('../images/home-radial-gradient.png') center bottom no-repeat;
}

.home-quick-links-wrapper {
    margin-top: -183px;
}

.home-quick-link span {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 15px;
}

.home-quick-link::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.quick-link-sport::before {
    background: url('../images/home-sport.png') left top no-repeat;
    width: 216px;
    height: 211px;
}

.quick-link-volny-cas::before {
    background: url('../images/home-volny-cas.png') left top no-repeat;
    width: 215px;
    height: 171px;
    top: 3px;
}

.quick-link-akce::before {
    background: url('../images/home-akce.png') left top no-repeat;
    width: 236px;
    height: 149px;
    top: 27px;
}

.quick-link-koupani::before {
    background: url('../images/home-koupani.png') left top no-repeat;
    width: 215px;
    height: 188px;
    top: -1px;
}

.quick-link-restaurace::before {
    background: url('../images/home-restaurace.png') left top no-repeat;
    width: 188px;
    height: 189px;
    top: -10px;
}

.home-tip {
    text-decoration: none;
    height: 640px;
    width: 280px;
    background: linear-gradient(180deg, #1D274B 31.78%, #25335C 50.5%, #1D274B 100%);
    margin: 1px;
}

.home-tip .number {
    color: #8CADD5;
    font-weight: bold;
    font-size: 46px;
    display: block;
    line-height: 120%;
    position: relative;
    z-index: 3;
}
.home-tip .title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    display: block;
    line-height: 120%;
    position: relative;
    z-index: 3;
}
.home-tip .description {
    color: #fff;
    font-size: 13px;
    display: block;
    position: relative;
    z-index: 3;
}
.home-tip .background {
    height: 100%;
    width: 100%;
    padding: 34px;
    position: relative;
}

.home-tip:hover .background::after {
    opacity: 1;
}

.home-tip .background::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    opacity: 0;
    transition: opacity .33s ease-in-out;
}

.home-tip.tip-1 .background {
    background: url('../images/home-tip-1.png') center bottom no-repeat;
}
.home-tip.tip-2 .background {
    background: url('../images/home-tip-2.png') center bottom no-repeat;
}
.home-tip.tip-3 .background {
    background: url('../images/home-tip-3.png') center bottom no-repeat;
}
.home-tip.tip-4 .background {
    background: url('../images/home-tip-4.png') center bottom no-repeat;
}
.home-tip.tip-5 .background {
    background: url('../images/home-tip-5.png') center bottom no-repeat;
}

.home-tip.tip-1 .background::after {
    background: url('../images/home-tip-1-hover.png') center bottom no-repeat;
}
.home-tip.tip-2 .background::after {
    background: url('../images/home-tip-2-hover.png') center bottom no-repeat;
}
.home-tip.tip-3 .background::after {
    background: url('../images/home-tip-3-hover.png') center bottom no-repeat;
}
.home-tip.tip-4 .background::after {
    background: url('../images/home-tip-4-hover.png') center bottom no-repeat;
}
.home-tip.tip-5 .background::after {
    background: url('../images/home-tip-5-hover.png') center bottom no-repeat;
}
